fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/
  - repo: local
    hooks:
    - id: poetry-to-requirements
      name: poetry-to-requirements
      require_serial: true
      entry: make -f Makefile docs/autogen-requirements.txt
      language: system
      pass_filenames: false
      files: ^poetry.lock$
